.TweetDiv {
    background-color: rgb(49, 169, 169);
}
.green {
    background-color: rgb(34, 223, 34);
}

.ElH3 {
    color: blue;
}
.mixed{
    background: red;
}
.tail{
    background: #000;
}
.pepa{
    color: yellow;
}